#yourname {
            color: white;

            /* margin-left: 62%; */
            font-size: 25px;
            font-family: 'Times New Roman', Times, serif;
        }


        .active {
            margin-right: 95px;
            color: white;
        }

        body {
            font-family: 'Times New Roman', Times, serif;
            padding-bottom: 70px;
        }

        .footer {
            color: white;
            width: 100%;
            border-top-width: 3px;
            border-top-style: solid;
            border-top-color: teal;



        }

        .socialfontsize {
            font-size: 30px;
        }

        .form-group {
            margin-left: 20px;
        }

        .btn {
            margin-left: 20px;
            
        }

        h2 {
            margin-left: 15px;
        }
        form{
            padding-bottom: 20px;
        }